@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  transition: 0.25s ease-in-out;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.button {
  box-sizing: border-box;
  width: 140px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-transform: uppercase;
  color: #1D1F22;
  cursor: pointer;
}

.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 101px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}

.category-links {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;

  li {
    padding: 0 16px;
    list-style: none;
    text-transform: uppercase;
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #1d1f22;
    height: 100%;
    display: flex;
    align-items: center;
  }

  li:hover, li.active {
    color: #5ece7b;
    cursor: pointer;
    border-bottom: solid 2px #5ece7b;
  }
}

.menu {
  transition: 1s;
  animation: menuanimation 0.5s;
  background-color: white;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.mini-cart-menu {
  position: absolute;
  top: 51px;
  right: -10px;
  width: 325px;
  padding: 32px 16px;
  box-sizing: border-box;
  max-height: 677px;
  overflow-y: auto;
}

.currency-switcher-menu {
  position: absolute;
  top: 51px;
  right: 15px;
  width: 114px;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
    }
  }

  li:hover,
  li.active {
    background-color: #eee;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  width: 87px;
  position: relative;
}

.currency-controls {
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;

  img {
    margin-left: 10px;
    transition: 0.25s;
  }

  img.active {
    transform: rotateX(180deg);
    animation: arrowrotation 0.25s ease-in-out;
  }
}

.minicart-controls.active {
  animation: bounce 1s ease-in-out;
}

.minicart-controls {
  cursor: pointer;
  position: relative;

  .cart-label{
    position: absolute;
    z-index: -1;
    top: -7px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1f22;
    color: white;
    font-family: 'roboto', 'sans-serif';
    font-weight: 700;
    border-radius: 60px;
    width: 20px;
  }
}

.minicart {
  position: relative;
}

.logo:hover {
  animation: bounce 1s ease-in-out;
  animation-iteration-count: infinite;
}

.category-page {
  padding: 80px 100px;

  h1 {
    font-weight: 400;
    font-size: 42px;
    color: #1D1F22;
    text-transform: capitalize;
    margin-bottom: 103px;
    line-height: 160%;
  }
}

.category-items-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 103px;
}

.item-in-category {
  box-sizing: border-box;
  width: 386px;
  height: 444px;
  background: #FFFFFF;
  padding: 16px;
  line-height: 160%;
  color: #1D1F22;
  position: relative;
  transition: 0.3s ease-in-out;

  .item-image {
    width: 354px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(168, 172, 176, 0.19);

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .item-name {
    font-weight: 300;
    font-size: 18px;
    margin-top: 24px;
  }

  .item-price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }

  .add-to-cart-icon {
    position: absolute;
    right: 31px;
    bottom: 72px;
    display: none;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
  }

  .add-to-cart-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 20px #5ece7b;
  }
}

.item-in-category:hover {
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  cursor: pointer;
  transform: scale(1.01);

  .add-to-cart-icon {
    display: block;
    animation: beat 1s ease-in-out;
    animation-iteration-count: infinite;
  }
}

.item-in-category.out-of-stock {
  pointer-events: none;
}

.item-in-category.out-of-stock::after {
  content: "OUT OF STOCK";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
}

.mini-cart-info {
  margin-bottom: 32px;
}

#view-bag.button {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
}

#check-out.button {
  background: #5ECE7B;
  color: white;
}

.mini-cart-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

#mini-cart-heading {
  line-height: 160%;
  color: #1D1F22;
  margin-bottom: 32px;

  span {
    font-weight: 700;
  }
}

#mini-cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1D1F22;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 18px;

  #m-price {
    font-weight: 700;
    line-height: 160%;
    font-family: "Raleway", sans-serif;
  }
}

.mini-cart-item {
  display: flex;
  column-gap: 8px;
  margin-bottom: 42px;
  //align-items: center;
  height: fit-content;
}

.minicart-item-image {
  max-width: 121px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
  }
}

.minicart-item-info {
  display: flex;
  flex-direction: column;
  width: 132px;
  font-weight: 300;
  line-height: 160%;
  color: #1D1F22;

  .m-item-price {
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 8px;
  }

  .m-item-name {
    margin-bottom: 4px;
  }
  .attribute{
    margin-bottom: 8px;
  }
}

.minicart-item-info .attribute:last-child{
  margin-bottom: 0;
}


.minicart-item-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 160%;
  color: #1D1F22;

  img {
    cursor: pointer;
  }
}


#m-attribute-values {
  display: flex;
  column-gap: 8px;

  .text-attribute {
    box-sizing: border-box;
    height: 24px;
    min-width: 24px;
    width: fit-content;
    border: 1px solid #1D1F22;
    padding: 0 2px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }

  .text-attribute.selected {
    background: #1D1F22;
    color: #FFFFFF;
  }

  .swatch-attribute {
    width: 16px;
    height: 16px;
    position: relative;
  }

  .swatch-attribute.selected:after {
    content: "";
    width: 18px;
    height: 19px;
    top: -3px;
    left: -2px;
    position: absolute;
    border: 1px solid #5ece7b;

  }
}

#m-attribute-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 100vw;
  margin: 10px 0;
}

::-webkit-scrollbar-thumb {
  backdrop-filter: blur(10px);
  background: rgb(94, 206, 123);
  background: radial-gradient(circle, rgba(94, 206, 123, 0.6) 0%, rgba(94, 206, 123, 0.5) 100%);
  border-radius: 100vw;
  border: 1px solid #F1F1F1;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(94, 206, 123, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 100vw;
  border: 1px solid #F1F1F1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 2;
  pointer-events: none;
  animation: overlay-screen 0.25s ease-in-out;
}

@keyframes menuanimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes arrowrotation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-1.5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes overlay-screen {
  from {
    border-radius: 0 50% 50% 50%;
    height: 0;
    width: 0;
  }
  to {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
